.education__content,
.experience__content,
.about__content {
  display: flex;
}
.education__time,
.experience__time {
  padding-right: 1rem;
}
.education__data,
.experience__data,
.about__data {
  gap: 0.5rem;
}
.education__title,
.experience__title {
  font-size: var(--h3-font-size);
}

.education__studies,
.experience__company {
  font-size: var(--small-font-size);
  color: var(--title-color);
}

.education__year {
  font-size: var(--small-font-size);
}

.experience__description {
  text-indent: 10px;
}
